<header>
    <div style="background-image:url(../../assets/images/Mesh_Header_Blue-LightBlue.png);background-size: contain">
        <div class="ui-g">
            <div class="ui-g-12 headerlabel">Pension Management System</div>
        </div>
    </div>
</header>
<br>
<!-- <h1 style="text-align: center;color: green;">Pension Management System</h1> -->
<div class="bg-image">
    <div class="container" align="center" style="padding-left: 25%;">
        <div>
            <br>
            <h2 style="text-align: center;color: violet">Enter Pensioner Details</h2>
            <br>
            <form (ngSubmit)="onSubmit()" method="GET" name="pension" id="pension" class="form">
                <div class="col-md-6" style="text-align: left;color: yellow;">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" [(ngModel)]="pensionDetails.name"
                            placeholder="Enter Pensioner Name" required="" />
                        <div *ngIf="pensionDetails.name == ''">
                            Name is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="panNumber" [(ngModel)]="pensionDetails.panNumber"
                            placeholder="Enter PAN Number" required="" />
                        <div *ngIf="pensionDetails.panNumber == ''">
                            Pan Number is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="adhar" [(ngModel)]="pensionDetails.aadhaarNumber"
                            placeholder="Enter Aadhar Number" required="" />
                        <div *ngIf="pensionDetails.aadhaarNumber == ''">
                            Aadhaar Number is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="dateOfBirth"
                            [(ngModel)]="pensionDetails.dateOfBirth" placeholder="Date of Birth (dd-mm-yyyy)"
                            required="" />
                        <div *ngIf="pensionDetails.dateOfBirth == ''">
                            Date of Birth is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="typeOfPension" class="form-control" id="typeOfPension"
                            [(ngModel)]="pensionDetails.typeOfPension">
                            <option value="" disabled selected>Select Pension Type</option>
                            <option value="Family pension">Family Pension</option>
                            <option value="Self pension">Self Pension</option>
                        </select><br>
                    </div>
                    <div class="form-group">
                        <div style="text-align:center;">
                            <div *ngIf="pensionerError==true">
                                <h4 style="color:red; text-align:center">Please enter Correct Details</h4><br>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-success" [disabled]="pensionDetails.dateOfBirth == ''||pensionDetails.aadhaarNumber==''||
                                 pensionDetails.panNumber == ''||pensionDetails.name == ''" value="Submit">Submit</button>
                            </div>
                            <div *ngIf="pensionDetails.dateOfBirth == ''||pensionDetails.aadhaarNumber==''||
                            pensionDetails.panNumber == ''||pensionDetails.name == ''">
                                All fields are mandatory
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>

        </div>
    </div>
</div>